body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

.video-container, .video-container-form {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

#bg-video, #bg-video-form {
    position: absolute;
    top: 50%;
    left: 50%;
    width: auto;
    height: 100%;
    min-width: 100%;
    transform: translate(-50%, -50%);
    object-fit: cover;
}

.overlay, .overlay-form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: center;
    z-index: 1;
    width: 100%;
}

.horizontal-nav {
    width: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 2;
}

.horizontal-nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
}

.horizontal-nav ul li {
    margin: 0px 0;
    text-align: center;
}

.horizontal-nav ul li a {
    text-decoration: none;
    color: #fff;
    padding: 10px 20px;
    display: block;
}

.horizontal-nav ul li a:hover {
    background-color: rgba(255, 255, 255, 0.2);
    color: #000;
}

#content {
    margin-top: 0px;
    padding: 10px;
    text-align: center;
    z-index: 2;
    position: relative;
    background-color: #001c28;
    color: white;
}

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#form-container {
    background-color: rgba(0, 0, 0, 0.7); /* Slightly transparent background */
    padding: 20px;
    border-radius: 10px;
    z-index: 2;
    position: relative;
}

#form-container h3 {
    margin-bottom: 20px;
}

.form-row {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.form-group {
    margin: 0 10px;
    width: 200px;
}

#form-container label {
    display: block;
    margin: 10px 0 5px;
    color: #fff;
}

#form-container input, #form-container select {
    width: 100%;
    padding: 10px 5px;
    margin-bottom: 10px;
    border: none;
    border-bottom: 2px solid #fff;
    background: transparent;
    color: #fff;
    outline: none;
}

#form-container input::placeholder, #form-container select::placeholder {
    color: #ccc;
}

#form-container button {
    padding: 10px 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 10px;
}

#form-container button:hover {
    background-color: #45a049;
}

#prediction-result {
    margin-top: 20px;
    font-size: 1.2em;
    color: #333;
}

footer {
    background-color: #001c28;
    padding: 20px;
    text-align: center;
    color: white;
}

footer a img {
    width: 100px;
    margin: 10px;
}
